<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Monalisa</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" >

    <!-- Custom styles for this template -->
    <link th:href="@{/css/monalisa-feed.css}" rel="stylesheet">
    <link th:href="@{/open-iconic/font/css/open-iconic-bootstrap.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Monalisa</h4>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a th:href="@{/feed}">Início</a>
                </li>
                <li>
                    <ul class="list-unstyled components">
                        <p><b>Suas turmas</b></p>

                        <tr th:each="turmaUsuario: ${turmaUsuarioList}">
                            <li>
                                <a th:text="${turmaUsuario.conteudo.nome}" th:href="@{'#homeSubmenu' + ${turmaUsuario.conteudo.idConteudo}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"></a>
                                <ul class="collapse list-unstyled" th:id="'homeSubmenu' + ${turmaUsuario.conteudo.idConteudo}">
                                    <a th:href="@{/feed/turma/{idTurma}(idTurma=${turmaUsuario.conteudo.idConteudo})}">Todos os assuntos</a>
                                    <a th:each="assuntoTurma : ${turmaUsuario.conteudo.conteudoTopicos}"
                                       th:text="${assuntoTurma.topico.nome}"
                                       th:href="@{/feed/turma/{idTurma}/assunto/{idAssunto}(idTurma=${assuntoTurma.conteudo.idConteudo}, idAssunto=${assuntoTurma.topico.idTopico})}"></a>
                                </ul>
                            </li>
                        </tr>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/turma}">Gerenciar suas turmas</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div id="container-fluid" class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-light">
                            <i class="fas fa-align-left"></i>
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <form class="form-inline my-2 my-lg-0" th:action="@{/feed/buscar}" >
                                        <input class="form-control mr-sm-2" name="palavraBusca" type="search" placeholder="Tag, Assuntos ou Turmas" aria-label="Search">
                                        <button class="btn btn-info my-2 my-sm-0" type="submit">Pesquisar</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div th:if="${erro} != null" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div  th:text="${erro}"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:include="this :: content"></div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
