<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:include="layouts/main :: page">
<div th:fragment="content">
    <tr th:each="turma : ${turmasEncontradasList}">
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11"><h5 th:text="${turma.nome}"></h5></div>
                    <div class="col-md-1"><a class="btn btn-success" th:href="@{/turma/seguir/{idTurma}(idTurma=${turma.idTurma})}">Seguir</a></div>
                </div>
            </div>
            <div class="card-body">
                <div class="media mb-4" th:text="${turma.descricao}"></div>
            </div>
        </div>
    </tr>
</div>
</html>